
body{
background-color: white;
}

a {color:#6C6C6C;}
a:hover {color:#212121;}

/* .containerMaster{
    width:50%;
    margin-top: 100px;
    margin-left: 50px;
    border-style: groove;
    border-color: #F5F5F5;
    border-width:4px;
    padding-bottom:50px;
    margin-bottom:75px;
} */

.buttonForm{
    padding-top: 15px;
} 

h2{
    color:#6C6C6C;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkgray;
  padding-top: 10px;
  color: #6C6C6C;
  text-align: center;}

.pageHeader{
    padding-top:10px;
}

/* .img-responsive{
    margin:5px;
} */
.nav-link {
    padding: 0px;
    color:#6C6C6C;
}
.img-responsive{
    border: solid;
    border-width: 5px;
    border-color: #6C6C6C;

}

#third-div{
    max-width: 34%;
}

#myVideo {
    border: solid;
    border-width: 5px;
    border-color: #6C6C6C;
    width: 200px;
    height: 200px;
    object-fit: fill;
  }

  * {
  font-family: 'Anonymous Pro', monospace;
  
  }
.jumbotron{
    background-color: #F5F5F5;;
}

/* colors */
/* #EDC7B7
   #EEE2DC
   #BAB2B5
   #123C69
   #AC3B61
    */

    .navbar {
        display: inline-block;
        border: 1px solid grey;
        width: 100%;
        border-style: outset;
      }
    /* .img-responsive{
      color: #525d68;
      font-size: 15px;
      line-height: 22px;
      font-family: Varela Round;
      box-sizing: border-box;
      margin: 0;
      border: 0;
      vertical-align: middle;
      max-width: 100%;
      height: auto;
      display: block;
      position: absolute;
      visibility: visible!important;
      bottom: 10px;
      left: 40px;
    }
       */
 .col-lg-8 {
     background-color: #F5F5F5
 }

 .col-lg-4 {
    background-color: #F5F5F5
 }

 .col-md-4{
    background-color: #F5F5F5;
    margin-right: 1px;
 }